<div>
    <h2>
        <span jhiTranslate="memeGeneratorApp.modele.home.title">Modeles</span>
        <button class="btn btn-primary float-right jh-create-entity create-modele" [routerLink]="['/', { outlets: { popup: ['modele-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="memeGeneratorApp.modele.home.createLabel">
            Create new Modele
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="modeles">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="memeGeneratorApp.modele.name">Name</span></th>
            <th><span jhiTranslate="memeGeneratorApp.modele.path">Path</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let modele of modeles ;trackBy: trackId">
                <td><a [routerLink]="['../modele', modele.id ]">{{modele.id}}</a></td>
                <td>{{modele.name}}</td>
                <td>{{modele.path}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../modele', modele.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'modele/'+ modele.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'modele/'+ modele.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
