
<div *ngIf="video">
    <h2><span jhiTranslate="memeGeneratorApp.video.detail.title">Video</span> {{video.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="memeGeneratorApp.video.name">Name</span></dt>
        <dd>
            <span>{{video.name}}</span>
        </dd>
        <dt><span>Generated video : </span></dt>
        <dd>
            <span>
                <video width="640" height="480" controls>
                    <source src="{{video.url}}" type="video/mp4">
                  Your browser does not support the video tag.
                  </video>
            </span>
        </dd>
        <dt><span jhiTranslate="memeGeneratorApp.video.typeGen">Type Gen</span></dt>
        <dd>
            <span jhiTranslate="{{'memeGeneratorApp.TypeGen.' + video.typeGen}}">{{video.typeGen}}</span>
        </dd>
        <dt><span jhiTranslate="memeGeneratorApp.video.modele">Modele</span></dt>
        <dd>
            <div *ngIf="video.modele">
                <a [routerLink]="['/modele', video.modele?.id]">{{video.modele?.name}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'video/'+ video.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
